@charset "UTF-8";
/*------------------------------------------------------------------*/
/* reset css*/
/*------------------------------------------------------------------*/
img {
  border: none;
  vertical-align: bottom;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

address {
  font-style: normal;
}

/* 기존CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------------------------------------*/
/* core css*/
/*------------------------------------------------------------------*/
.bld {
  display: none;
}

html, body {
  width: 100%;
  height: 100%;
}

.clb {
  clear: both;
}

a:visited {
  color: #000;
}

.inbox {
  max-width: 1200px;
  margin: 0 auto;
}

.body__container {
  position: relative;
  width: 100%;
  height: 100%;
}

/*------------------------------------------------------------------*/
/* header.jsp - header css*/
/*------------------------------------------------------------------*/
.header_container {
  position: relative;
  min-width: 940px;
  margin-bottom: 20px;
}

.header_container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 41px;
  background-color: #000;
}

.header_container::after {
  content: '';
  display: block;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

.header_container .topgnb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 0;
  color: #fff;
  font-size: .8rem;
  min-width: 940px;
}

.header_container .topgnb a {
  color: #fff;
}

.header_container .topgnb a:hover {
  color: #aaa;
}

.header_container .topgnb .topgnb__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 30px;
}

.header_container .topgnb .topgnb__left li {
  position: relative;
  padding: 0 10px;
}

.header_container .topgnb .topgnb__left li:first-child::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
}

.header_container .topgnb .topgnb__left li::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 1px;
  height: 31px;
  background-color: #999;
  opacity: .6;
}

.header_container .topgnb .topgnb__left li:first-child a {
  position: relative;
}

.header_container .topgnb .topgnb__left li:first-child a .txt_big {
  position: absolute;
  left: -50%;
  top: -50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  font-size: 1rem;
}

.header_container .topgnb .topgnb__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.header_container .topgnb .topgnb__right li {
  position: relative;
  padding: 0 10px;
}

.header_container .topgnb .topgnb__right li:first-child::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  background-color: transparent;
}

.header_container .topgnb .topgnb__right li::after {
  content: '';
  display: block;
  position: absolute;
  top: -7px;
  left: 0;
  width: 1px;
  height: 31px;
  background-color: #999;
  opacity: .6;
}

.header_container .top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 940px;
  height: 150px;
}

.header_container .top .header {
  margin: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_container .top .header .top__logo {
  position: relative;
  width: 360px;
  font-size: 4.2rem;
  font-weight: bold;
  cursor: pointer;
}

.header_container .top .header .top__logo a {
  letter-spacing: -2px;
}

.header_container .top .top__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}

.header_container .top .top__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #000;
}

.header_container .top .top__form form input {
  width: 220px;
  height: 42px;
}

.header_container .top .top__form form a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 38px;
  height: 42px;
}

.header_container .top .top__form form a svg {
  margin-top: 11px;
}

.header_container .top .top__form form a svg .search_svg {
  fill: #fff;
}

.header_container .gnb {
  position: relative;
  z-index: 999;
}

.header_container .gnb .nav {
  width: 100%;
  min-width: 720px;
  position: relative;
}

.header_container .gnb .nav:hover .sub_bg {
  content: '';
  display: block;
}

.header_container .gnb .nav .sub_bg {
  position: absolute;
  top: 43px;
  left: 0;
  width: 100%;
  height: 260px;
  background-color: #fff;
  z-index: -1;
  display: none;
}

.header_container .gnb .nav .sub_bg::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #eee;
}

.header_container .gnb .nav:hover .gnb__ul .dep01 .sub .dep02 a {
  display: block;
}

.header_container .gnb .nav .gnb__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 12px 0;
  width: 100%;
}

.header_container .gnb .nav .gnb__ul .dep01 {
  position: relative;
}

.header_container .gnb .nav .gnb__ul .dep01 a {
  color: #000;
  font-size: 1.1rem;
}

.header_container .gnb .nav .gnb__ul .dep01:hover::after {
  content: '';
  display: block;
  position: absolute;
  top: 28px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #000;
}

.header_container .gnb .nav .gnb__ul .dep01 .sub {
  position: absolute;
  left: 0;
  top: 50px;
  display: block;
}

.header_container .gnb .nav .gnb__ul .dep01 .sub .dep02 {
  line-height: 16px;
  margin-bottom: 12px;
}

.header_container .gnb .nav .gnb__ul .dep01 .sub .dep02 a {
  font-size: .8rem;
  color: #999;
  display: none;
}

.header_container .gnb .nav .gnb__ul .dep01 .sub .dep02 a:hover {
  color: #002157;
}

/*------------------------------------------------------------------*/
/* main.jsp - banner css*/
/*------------------------------------------------------------------*/
.banner .banner__wrap {
  width: 100%;
  height: auto;
}

.banner .banner__wrap img {
  width: 100%;
  min-width: 720px;
  min-height: 360px;
}

.banner .banner__wrap .main001, .banner .banner__wrap .main002, .banner .banner__wrap .main003, .banner .banner__wrap .main004 {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
  color: #eee;
}

.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
  color: #eee;
}

.swiper-pagination-bullet {
  opacity: .4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #eee !important;
}

/*------------------------------------------------------------------*/
/* main.jsp - small_banner css*/
/*------------------------------------------------------------------*/
.small_banner {
  min-width: 720px;
  max-width: 1200px;
}

.small_banner .small_banner__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin-top: 40px;
}

.small_banner .small_banner__wrap dl dt {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  padding: 18px 0 9px;
}

.small_banner .small_banner__wrap dl dd {
  font-size: 0.7rem;
  text-align: center;
  margin: 5px 0 8px;
  color: #777;
}

.small_banner .small_banner__wrap .sbn_01 {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}

.small_banner .small_banner__wrap .sbn_01 a img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.small_banner .small_banner__wrap .sbn_02 {
  width: 100%;
  height: 100%;
}

.small_banner .small_banner__wrap .sbn_02 a img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

.small_banner .small_banner__wrap .sbn_03 {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.small_banner .small_banner__wrap .sbn_03 a img {
  width: 100%;
  background-size: cover;
  background-position: center;
}

/*------------------------------------------------------------------*/
/* footer.jsp css*/
/*------------------------------------------------------------------*/
.footer_container {
  position: relative;
  width: 100%;
  background-color: #1e1e1e;
  margin-top: 80px;
}

.footer_container .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 40px 52px;
}

.footer_container .footer .footer__copy {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
}

.footer_container .footer .footer__copy ul li {
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.footer_container .footer .footer__copy ul li:first-child {
  line-height: 3rem;
}

.footer_container .footer .footer__copy ul li .footer__logo {
  font-size: 2.4rem;
}

.footer_container .footer .footer__copy ul li .footer__logo a {
  color: #fff;
}

.footer_container .footer .footer__copy span {
  color: #777;
  font-size: 0.8rem;
}

.footer_container .footer .footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.footer_container .footer .footer__info .footer__tel {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
}

.footer_container .footer .footer__info .footer__tel::before {
  content: '';
  display: block;
  position: absolute;
  left: -1vw;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #333;
}

.footer_container .footer .footer__info .footer__tel h4 {
  color: #777;
  margin: 4px 0 6px;
}

.footer_container .footer .footer__info .footer__tel .footer__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ddd;
}

.footer_container .footer .footer__info .footer__tel .footer__txt .txt_big {
  font-size: 1.2rem;
  padding: 10px 0;
}

.footer_container .footer .footer__info .footer__tel .footer__txt .txt_md {
  font-size: 1rem;
  padding: 12px 0;
}

.footer_container .footer .footer__info .footer__tel .footer__txt .txt_small span {
  font-size: 0.8rem;
  line-height: 1.4rem;
  display: block;
}

.footer_container .footer .footer__info .footer__tel .footer__txt .txt_small span a {
  display: block;
  color: #ddd;
  font-size: .6rem;
  padding-left: 1px;
  text-decoration: underline;
}

.footer_container .footer .footer__info .footer__bank {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
}

.footer_container .footer .footer__info .footer__bank::before {
  content: '';
  display: block;
  position: absolute;
  left: -1vw;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #333;
}

.footer_container .footer .footer__info .footer__bank h4 {
  color: #777;
  margin: 4px 0 6px;
}

.footer_container .footer .footer__info .footer__bank .footer__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ddd;
}

.footer_container .footer .footer__info .footer__bank .footer__txt .txt_big {
  font-size: 1.2rem;
  padding: 10px 0;
}

.footer_container .footer .footer__info .footer__bank .footer__txt .txt_md {
  font-size: 1rem;
  padding: 12px 0;
}

.footer_container .footer .footer__info .footer__bank .footer__txt .txt_small span {
  font-size: 0.8rem;
  line-height: 1.4rem;
  display: block;
}

.footer_container .footer .footer__info .footer__bank .footer__txt .txt_small span a {
  display: block;
  color: #ddd;
  font-size: .6rem;
  padding-left: 1px;
  text-decoration: underline;
}

.footer_container .footer .footer__info .footer__company {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 10px;
  position: relative;
}

.footer_container .footer .footer__info .footer__company::before {
  content: '';
  display: block;
  position: absolute;
  left: -1vw;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: #333;
}

.footer_container .footer .footer__info .footer__company h4 {
  color: #777;
  margin: 4px 0 6px;
}

.footer_container .footer .footer__info .footer__company .footer__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  color: #ddd;
}

.footer_container .footer .footer__info .footer__company .footer__txt .txt_big {
  font-size: 1.2rem;
  padding: 10px 0;
}

.footer_container .footer .footer__info .footer__company .footer__txt .txt_md {
  font-size: 1rem;
  padding: 12px 0;
}

.footer_container .footer .footer__info .footer__company .footer__txt .txt_small span {
  font-size: 0.8rem;
  line-height: 1.4rem;
  display: block;
}

.footer_container .footer .footer__info .footer__company .footer__txt .txt_small span a {
  display: block;
  color: #ddd;
  font-size: .6rem;
  padding-left: 1px;
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  .footer_container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .footer_container .footer .footer__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 28px;
  }
  .footer_container .footer .footer__copy ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .footer_container .footer .footer__copy ul:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 0 10px;
  }
  .footer_container .footer .footer__copy ul li {
    position: relative;
    margin: 0 10px;
  }
  .footer_container .footer .footer__copy ul li:nth-child(2)::before {
    content: '';
    display: block;
    position: absolute;
    left: -1vw;
    top: 2px;
    width: 4px;
    height: 96%;
    background-color: #555;
  }
}

@media screen and (max-width: 720px) {
  .footer_container .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  .footer_container .footer .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .footer_container .footer .footer__info .footer__tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .footer_container .footer .footer__info .footer__tel::before {
    content: '';
    display: none;
  }
  .footer_container .footer .footer__info .footer__tel h4 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 30px;
    margin-top: 2px;
  }
  .footer_container .footer .footer__info .footer__tel .footer__txt {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .footer_container .footer .footer__info .footer__tel .footer__txt .txt_big, .footer_container .footer .footer__info .footer__tel .footer__txt .txt_md {
    padding: 0 0 10px 0;
  }
  .footer_container .footer .footer__info .footer__bank {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .footer_container .footer .footer__info .footer__bank::before {
    content: '';
    display: none;
  }
  .footer_container .footer .footer__info .footer__bank h4 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 30px;
    margin-top: 2px;
  }
  .footer_container .footer .footer__info .footer__bank .footer__txt {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .footer_container .footer .footer__info .footer__bank .footer__txt .txt_big, .footer_container .footer .footer__info .footer__bank .footer__txt .txt_md {
    padding: 0 0 10px 0;
  }
  .footer_container .footer .footer__info .footer__company {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .footer_container .footer .footer__info .footer__company::before {
    content: '';
    display: none;
  }
  .footer_container .footer .footer__info .footer__company h4 {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin-right: 30px;
    margin-top: 2px;
  }
  .footer_container .footer .footer__info .footer__company .footer__txt {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .footer_container .footer .footer__info .footer__company .footer__txt .txt_big, .footer_container .footer .footer__info .footer__company .footer__txt .txt_md {
    padding: 0 0 10px 0;
  }
}
